
article {
	padding-bottom: 50px;
	border-bottom: 1px solid @light-grey;
	margin: 45px 0;
	.date {
		.gotham-extra-light();
		font-size: 3.5em;
		letter-spacing: -3px;
		color: @dark-red-font;
		padding-bottom: @big-padding;
		@media @mobile {
			font-size: 1.8em;
		}
	}
	.title {
		.title();
	}
	.author {
		.gotham-italic();
		font-size: 0.9em;
	}
	.content {
		font-size: 1.1em;
		color: @dark-grey;
		padding: @big-padding 0;
	}
}