nav {
	position: fixed;
	top: 45px; left: 0; bottom: 0;
	z-index: 2;
	visibility: hidden;
	width: 250px;
	height: 100%;
	background: @dark-grey;
	-webkit-transition: all 0.5s;
	transition: all 0.5s ease;
	color: #FFF;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-box-shadow: -19px 0px 11px 20px rgba(0,0,0,1);
	-moz-box-shadow: -19px 0px 11px 20px rgba(0,0,0,1);
	box-shadow: -19px 0px 11px 20px rgba(0,0,0,1);
	&.open {
		visibility: visible;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.open-menu {
		font-size: 1.2em;
		text-transform: uppercase;
	}
	.padding {
		padding: 25px @header-side-padding;
	}
	.top {
		padding-top: 40px;
	}
	.nav-item {
		padding: 15px 0;
		display: block;
	}
}